@using WebMvc.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "登录";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>天安后台管理</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>


        .bgone {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }

        .pic {
            width: 492px;
            height: auto;
            position: absolute;
            top: 60px;
            right: 453px;
            left: 0;
            bottom: 0;
            margin: auto;
            z-index: 99999;
        }

        .table {
            background-color: #FFFFFF;
            width: 960px;
            height: 465px;
            position: absolute;
            top: 7%;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }

        .password {
            position: absolute;
            top: 12.8rem;
            right: 4rem;
            display: flex;
        }



        .wel {
            width: 960px;
            height: 35px;
            color: #fff;
            font-size: 30px;
            position: absolute;
            top: -7rem;
            text-align: center;
        }

        .wel1 {
            width: 960px;
            height: 35px;
            color: #fff;
            font-size: 12.38px;
            position: absolute;
            top: -4rem;
            text-align: center;
        }

        input {
            height: 55px;
            width: 373px;
        }
    </style>
</head>
<body>
    <img class="bgone" src="/img/1.jpg" />
    <img class="pic" src="/img/a.png" />


    <div class="layui-container table" style="padding: 20px; background-color: #F2F2F2;">
        <div class="wel">乐意保系统</div>
        <div class="wel1">欢迎登陆 - 乐意保后台管理系统</div>

        <div class="layui-card" style="float:right;width:500px;    position: absolute;    top: 20%;    left: 45%;">
            <div class="layui-card-header">@ViewBag.Title</div>
            <div class="layui-card-body">
                <section id="loginForm" class="layui-col-md">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "layui-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger",@style= "margin: 10px;" })
                        <div class="layui-form-item">
                            @Html.LabelFor(m => m.Email, new { @class = "layui-form-label" })
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(m => m.Email, new { @class = "layui-input" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="layui-form-item">
                            @Html.LabelFor(m => m.Password, new { @class = "layui-form-label" })
                            <div class="layui-input-inline">
                                @Html.PasswordFor(m => m.Password, new { @class = "layui-input" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <div class="layui-input-block">
                                <input length="18" data-val="true" lay-skin='primary' data-val-required="记住我? 字段是必需的。" id="RememberMe" name="RememberMe" type="checkbox" value="true"  title="记住我?">
                                @*@Html.LabelFor(m => m.RememberMe, new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center;">
  
                                <input type="submit" value="登录" class="layui-btn layui-btn-normal" />
                  
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
</body>
</html>
